<form name="planetsForm">
  <button ng-show="!plCtrl.editMode" ng-click="plCtrl.toggleEditMode()">
    Edit
  </button>
  <button ng-show="plCtrl.editMode" ng-click="plCtrl.addPlanet()">
    Add new
  </button>
  <button ng-show="plCtrl.editMode" ng-click="plCtrl.toggleEditMode()">
    Save
  </button>
  <table>
    <thead>
      <th style="width: 2%;">Index</th>
      <th style="width: 8%;">Name</th>
      <th style="width: 8%;">Radius</th>
      <th style="width: 8%;">Actions</th>
    </thead>
    <tbody
      planet-row
      ng-repeat="planet in plCtrl.planets"
      index="$index + 1"
      radius="planet.radius"
      name="planet.name"
      remove="plCtrl.removePlanet($index)"
      edit-mode="plCtrl.editMode"
    ></tbody>
  </table>
</form>
